
<section class="section">

    <div class="section">
        <div class="container">
            <h1> class="tittle"
            <%= @post.title %>
            </h1>
            <h1> class="content"
            <%= @post.content %>
            </h1>

        </div>
    </div>  
</section>